################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Oscheka.BookStore/.vs/Oscheka.BookStore/v16
/Oscheka.BookStore/Oscheka.BookStore/obj
